<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PBPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PBPF.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value />
            </setting>
            <setting name="LevelUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EggHatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Captcha" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CPIV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rare" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Egg2K" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Egg5K" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Egg10K" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CP" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="IV" serializeAs="String">
                <value>90</value>
            </setting>
        </PBPF.Properties.Settings>
    </userSettings>
</configuration>